{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <!-- <div class="row"> -->
    <div class="card col-md-6 p-5 mx-auto">
      <div class="col-2 teal">

      </div>
      <div class="col-10">

      
      <h1 class="mx-auto">Welcome to Teaze!</h1>
      <br>
      <h3 class="mx-auto">{% trans "Sign Up" %}</h3>

      <p class="mx-auto">{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
 
      <form class="signup mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
    </div>
  <!-- </div> -->
</div>

{% endblock %}