{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container col-md-7 mx-auto my-5">
    <div class="row">
        <!-- card styling -->
        <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg p-4">
            <h1 class="pb-2 border-bottom">{% trans "Sign up to Teaze" %}</h1>
            <div class="row">
                <h6 class="p-2">{% blocktrans %}Already have an account? <a href="{{ login_url }}"
                        class="text-warning ms-2">Sign in</a>.{% endblocktrans %}
                </h6>
                    <!-- Form starts here -->
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <!-- Custom styling using widget tweaks -->
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="my-2">{{ field.label }}</label>
                            <div>{% render_field field class="form-control" placeholder=field.label %}</div>
                            <!-- Block to display field errros -->
                            <div class="mt-1 {% if field.errors %} invalid{% endif %}">
                                {% for error in field.errors %}
                                <p class="help-block text-warning">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn mt-2">{% trans "Sign Up" %} &raquo;</button>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}