{% extends 'base.html'%}
{% load quiz_extras %}
{% load widget_tweaks %}

{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Form goes here -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row m-5">
        <div class="col-lg-9 box-shadow m-auto transparent-gray">
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h3 class="modal-title">Add options</h3>
                    <a href="../../" class="btn-close"></a>
                    <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
                </div>

                <div class="modal-body">
                    <h5>Question: <strong>{{ question.body }}</strong></h5>
                    {% if question.options.all %}
                    <h5><small>Answer options:</small></h5>
                    <div class="p-2 shadow bg-light">
                        <ol class="ps-1">
                            {% for option in question.options.all %}
                            <div class="m-2 p-2 ms-0 ps-4 rounded bg-white shadow d-flex flex-row justify-content-between">
                                <li>{{ option.option }}{% if option.is_correct %}<span class="small text-muted">
                                        (Correct)</span> {% endif %}</li>
                                        <ul class="list-unstyled d-flex flex-row">
                                            <li><a data-form-url="{% url 'questions:delete_option' option.pk %}" class= "delete-option" title="Remove from quiz">
                                                <i class="fas fa-trash mx-2 icon"></i></a></li>
                                            <li><a data-form-url="{% url 'questions:edit_option' option.pk %}" class="edit-option bs-modal ms-2" alt="Edit" title="Edit">
                                                <i class="fas fa-edit mx-2 icon"></i></a></li>
                                        </ul>
                            </div>
                            {% endfor %}
                        </ol>
                    </div>
                    {% endif %}
                    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in form %}
                    <div class="form-group">
                        {% if field.label == "Is correct" %}
                        <div class="d-flex flex-row my-1">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="mx-2">{% render_field field class="form-check-input" placeholder=field.label %}</div>
                            <!-- <div class="{% if field.errors %}invalid{% endif %}">
                                {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div> -->
                        </div>
                        {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="shadow">{% render_field field class="form-control" placeholder=field.label %}</div>
                        {% endif %}
                        <div class="{% if field.errors %}invalid{% endif %}">
                            {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn">Save</button>
                    {% if  quiz.slug %}
                    <a href="{% url 'quiz:quiz_details' quiz.slug %}" class="btn">Finish</a>
                    {% else %}
                    <a href="{% url 'questions:question_details' question.pk %}" class="btn">Finish</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}