{% extends 'base.html'%}
{% load quiz_extras %}

{% block content %}

<form method="POST">
    <div class="container">
        <div class="row mb-5">
            <div class="d-flex flex-row justify-content-end">
            <!-- {% if user.is_authenticated %} -->
            {% if request.user|has_group:"Admin" %}
                <!-- <div class="col"> -->
                        <a href="{% url 'quiz:home' %}" class=" btn">Back to home</a>
                        <a href="{% url 'categories:manage_categories' %}" class="btn">Manage categories</a>
                <!-- </div> -->
            {% endif %}
            <!-- {% endif %} -->
            </div>
        </div>
        <div class="row">
            <h3 class="centered">Add option</h3>
            <div class="col-md-6 py-5 offset-3">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn" value="Save">
                    <a href="../../../questions/{{ question_id }}">Finish</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}