{% load widget_tweaks %}
<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Edit question</h3>
        <!-- Cancel button -->
        <a href="{% url 'questions:question_details' question.pk %}"><button type="button" class="btn-close"
                aria-label="Close"></button></a>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="shadow">{% render_field field class="form-control" placeholder=field.label %}</div>
            <div class="{% if field.errors %} invalid{% endif %}">
                {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn" value="Save">
        <a href="{% url 'questions:question_details' question.pk %}" class="btn">Cancel</a>
    </div>
</form>

<form method="post" action="{% url 'questions:add_option' question.pk %}">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Edit options</h3>
        <!-- Cancel button -->
        <!-- <a href="{% url 'questions:question_details' question.pk %}"><button type="button" class="btn-close"
                aria-label="Close"></button></a> -->
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="shadow">{% render_field field class="form-control" placeholder=field.label %}</div>
            <div class="{% if field.errors %} invalid{% endif %}">
                {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn" value="Save">
        <a href="{% url 'questions:question_details' question.pk %}" class="btn">Cancel</a>
    </div>
</form>


