{% extends 'base.html' %}

{% block content %}

<!-- Modal displaying form for adding new category"-->
<!-- <div class="modal fade" id="add-question-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> -->
            <!-- Form goes here -->
        <!-- </div>
    </div>
</div> -->
<!-- Modal diplaying edit and delete forms -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Form goes here -->
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="custom-cards">
    <div class="d-flex justify-content-between border-bottom">
        <div>
            <h2 class="pb-2">Questions</h2>
        </div>
        <h3 class="pb-2"><a href="{% url 'questions:add_new_question' %}" id="add-question" alt="Add question" class="add-question text-dark">Add new<i class="fas fa-plus ms-3"></i></a></h3>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for question in question_list %}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg" style="background: {% if 'placeholder' not in question.featured_image.url %} url('{{question.featured_image.url}}'){% endif %};">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h5 class="pt-3 mt-2 mb-4 lh-1.7 border-bottom">{{ question.pk }} - {{ question.body }}</h5>
                        <h6 class="card-title">Category: <small>{{ question.get_categories }}</small></h6>
                        <h6 class="card-title">Quizzes: <small>{{ question.quiz}}</small></h6>
                        <ul class="d-flex list-unstyled mt-auto justify-content-end">
                                <!-- <li><a data-form-url="{% url 'questions:question_details' question.id %}" class="question-details bs-modal" alt="Details" title="Details"> -->
                                <li><a href="{% url 'questions:question_details' question.id %}" class="" alt="Details" title="Details">
                                    View and edit
                                    <i class="fa fa-eye me-3 ms-2"></i></a></li>

                                    <!-- <i class="fas fa-info-circle me-3 ms-2"></i></a></li> -->
                                <!-- <li><a href="{% url 'questions:edit_question' question.id %}" class="edit-question bs-modal" alt="Edit" title="Edit">
                                    Edit
                                    <i class="far fa-edit me-3 ms-2"></i></a></li> -->
                                <li><a data-form-url="{% url 'questions:delete_question' question.id %}" class="delete-question bs-modal" aria-label="Delete question" title="Delete">
                                    Delete
                                    <i class="fas fa-trash me-3 ms-2"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}  
    </div>
</div>

{% endblock %}