{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title">Question details</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body m-2">
    <div class="m-2 p-2 shadow bg-light border">
        <strong class="mb-2">Question:</strong>
        <div>{{ question.body }}</div>
    </div>
    <div class="m-2 p-2 shadow bg-light border">
        <strong class="">Answer options:</strong>
        <ol class="">
            {% for option in question.options.all %}
            <li class="m-2 p-2 ms-0 bg-white rounded shadow">{{ option.option }}{% if option.is_correct %}<span class="small text-muted"> (Correct)</span>{% endif %}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="m-2 p-2 shadow bg-light border">
        <!-- {% csrf_token %} -->
        <strong class="">{% if "," in question.get_categories %}Categories:{% else %} Category:{% endif %}</strong>
        <!-- jdafjpsaj -->
            <span> {{ question.get_categories }}</span>
    </div>
    <div class="m-2 p-2 shadow bg-light border">
        <!-- {% csrf_token %} -->
        <strong class="">Question status:</strong>
        <a href="{% url 'questions:toggle_question' question.pk %}" class="btn p-1 py-0">{% if question.status == 0 %}Draft{% else %}Approved{% endif %}</a>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Form goes here -->
        </div>
    </div>
</div>

<div class="modal-footer m-2">
    <a data-form-url="{% url 'questions:edit_question' question.id %}" class="edit-question bs-modal" title="Edit">
        Edit
        <i class="far fa-edit me-3 ms-2"></i></a>
    <button type="" class="btn btn-default" data-bs-dismiss="modal">Close</button>
</div>
