/* ____Colors____ */
/* grey: rgb (240,240,243) */
/* orange: rgb(231,151,15) */
/* teal: rgb(10, 76, 104) */

@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Oswald:wght@300;400;600&display=swap');

/* ____Global____ */
/* Page background color and positioning  */
body {
    background: rgb(243,243,243);
    min-height: 100vh;
    margin: 0;
    padding: 68px 0 210px 0;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

hr {
    width: 30vw;
    margin: 20px auto;
}

.teal-text {
    color: rgb(10, 76, 104);
    /* font-family: 'Oswald', sans-serif; */
}

.centered {
    /* display: block; */
    width: 100vw;
    text-align: center;
    margin: auto;
}

/* Buttons */
.btn {
    background: rgb(10, 76, 104);
    color: #fff;
    margin: 2px;
}

.btn:active,
.btn:focus,
.btn:hover {
    background: rgb(231,151,15);
}

/* ____Footer____ */
/* Image with the boy on top of footer */
.footer-img {
    display: block;
    background: url("https://res.cloudinary.com/dcslh2m3b/image/upload/c_scale,w_200/v1639397806/man-5987447_sm_vb1qps.jpg") no-repeat bottom right;
    height: 150px;
    margin: 20px 20px -20px 0;
}

.quiz-feat-img {
    width: 100%;
    height: auto;
}

/* Copyright author name */
footer span {
    font-family: "Festive", cursive;
}

/* ____Quiz____ */
/* Quiz radio button */
.form-check-input:checked {
    background-color: rgb(231,151,15);
    border-color: #0d6efd;
}

/* hr in the quiz */
form hr {
    width: 30vw;
    margin: 20px 0;
}

/* ____Forms____ */

input {
    border: none;
    border-bottom: solid 1px;
    border-color: rgb(231,151,15);
    color: rgb(10, 76, 104);
}