/* ____Colors____ */
/* grey: rgb (240,240,243) */
/* orange: rgb(231,151,15) */
/* teal: rgb(10, 76, 104) */
/* purple: rgb(100, 65, 93) */


@import url('https://fonts.googleapis.com/css2?family=Festive&family=Oswald:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Spline+Sans:wght@300&display=swap');


/* ____Global____ */
/* Page background color and positioning  */
body {
    /* background: url("https://res.cloudinary.com/dcslh2m3b/image/upload/v1639385103/play-stone-Alexas_Fotos_1744790_1920_v1n1tl.jpg") center center no-repeat; */
    /* background: rgb(243,243,243); */
    background: url("https://res.cloudinary.com/dcslh2m3b/image/upload/v1639349847/hummingbird-295026_wo9axg.png") top center no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 68px 0 210px 0;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

hr {
    width: 30vw;
    margin: 20px auto;
}

a {
    color: rgb(240,240,243);
    text-decoration: none;
}

a:active, 
a:hover{
    color: rgb(231,151,15);
}

.divide {
    height: 100px;
    margin: 20px 0;
    border: solid 1px rgba(231,151,15);
    width: 40%;
}

.card {
    border: solid 1px rgb(10, 76, 104);
    background-image: url("https://res.cloudinary.com/dcslh2m3b/image/upload/v1639385108/black-by_stux_1072366_gcffqv.jpg");
}

.card p {
    font-size: 0.8em;
    font-weight: 300;
    /* font-family: 'Oswald', 'sans-serif'; */
}

.nav-tabs {
    /* background: #D4CAD8; */
    background: rgb(240,240,243);
    border-bottom: solid 2px rgb(240,240,243);
}

.nav-link {
    color: #2b2e31;
    /* font-family: 'Oswald', sans-serif; */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2b2e31;
    background-color: rgb(100, 65, 93, 0.3);
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link:hover,
.nav-link:active {
    color: #941445;;
}

.centered {
    /* display: block; */
    width: 100vw;
    text-align: center;
    margin: auto;
}

/* Buttons */
.btn {
    background: rgb(231,151,15);
    /* color: #fff; */
    
    margin: 2px;
}

.btn:active,
.btn:focus,
.btn:hover {
    background: rgb(10, 76, 104);
    /* background: slategrey; */
    /* background: #941445; */
    /* background: #e0ab37; */

    color: rgb(240,240,243)
}

/* Log in and sign up forms */
/* .accounts {
    font-size: larger;
    font-weight: 600;
} */

/* ____Footer____ */
/* Image with the boy on top of footer */
/* .footer-img {
    display: block;
    background: url("https://res.cloudinary.com/dcslh2m3b/image/upload/c_scale,w_200/v1639397806/man-5987447_sm_vb1qps.jpg") no-repeat bottom right;
    height: 150px;
    margin: 20px 20px -20px 0;
} */

.quiz-feat-img {
    width: 100%;
    height: auto;
}

/* Copyright author name */
footer span {
    font-family: "Festive", cursive;
}

/* ____Quiz____ */
/* Quiz radio button */
.form-check-input:checked {
    background-color: rgb(231,151,15);
    border-color: #0d6efd;
}

/* hr in the quiz */
form hr {
    width: 30vw;
    margin: 20px 0;
}

/* ____Forms____ */

input {
    border: none;
    border-bottom: solid 1px;
    border-color: rgb(231,151,15);
    color: rgb(10, 76, 104);
}

/* Features styling */

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
  
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  