{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row m-md-5 mb-5">
        <div class="col-lg-9 box-shadow m-auto transparent-gray">

            <form enctype="multipart/form-data" method="post" >
                {% csrf_token %}
                <!-- Form header -->
                <div class="modal-header">
                    <h3 class="modal-title">Edit Quiz</h3>
                    <!-- Close x button -->
                    <a href="{% url 'quiz:quiz_details' quiz.slug %}" class="btn-close" aria-label="Close"></a>
                </div>
                <!-- Main form content -->
                <div class="modal-body">
                    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.label == "Category" %}
                        <div class="d-flex flex-row shadow">{% render_field field class="form-select" %}</div>
                        {% elif field.label == "Status" %}
                        <div class="shadow">{% render_field field class="form-select" %}</div>
                        {% elif field.label == "Image" %}
                        <div class="shadow">{% render_field field class="form-control" %}</div>
                        {% else %}
                        <div class="shadow">{% render_field field class="form-control" placeholder=field.label %}</div>
                        {% endif %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn" value="Save">
                    <a href="{% url 'quiz:quiz_details' quiz.slug %}" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
