{% extends 'base.html' %}
{% load quiz_extras %}
{% load widget_tweaks %}

{% block content %}

<!-- Modal to display delete view -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Form goes here -->
        </div>
    </div>
</div>
<!-- Main content -->
<div class="container px-0 px-md-4 py-md-5 mt-3 mb-5" id="custom-cards">
    <!-- Page header and add new quiz button -->
    <div class="d-flex justify-content-between border-bottom">
        <div>
            <h2 class="pb-2">Quizzes</h2>
        </div>
        <div class="me-3">
            <h3 class="pb-2"><a href="{% url 'quiz:add_quiz' %}" alt="Add category" class="text-dark linked">Add new<i class="fas fa-plus ms-1 ms-md-3"></i></a></h3>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-md-5">
        {% for quiz in quiz_list %}
        <div class="col pt-2">
            {% if 'placeholder' not in quiz.featured_image.url %}
            <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg"
                style="background: url('{{quiz.featured_image.url}}');">
                <div class="d-flex flex-column h-100 w-75 p-2 p-md-5 text-white text-shadow-1 dark-overlay">
            {% else %}
            <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-2 p-md-5 text-white text-shadow-1">
            {% endif %}
                            <div class="modal-header">
                                <h5 class="">{{ quiz.title }}</h5><a
                                    data-form-url="{% url 'quiz:delete_quiz' quiz.slug %}" class="delete-quiz linked"
                                    aria-label="Delete" title="Delete"><i class="fas fa-trash me-3 ms-2"></i></a>
                            </div>
                            <div class="modal-body">
                                <p class="fs-6">{{ quiz.description }}</p>
                                <h6 class="card-title">Category: <small>{{ quiz.category }}</small></h6>
                                <h6 class="card-title">Number of questions: <small>{{ quiz.questions.count }}</small>
                                </h6>
                                <ul class="d-flex list-unstyled mt-4 mb-2 justify-content-end">
                                    <li><a href="{% url 'quiz:quiz_details' quiz.slug %}" class="linked" alt="Details"
                                            title="Details">View / edit<i
                                                class="fas fas fa-edit me-3 ms-2"></i></a></li>
                                    <li><a href="{% url 'results:take_quiz' quiz.slug %}" class="linked"> Preview</a><i
                                            class="fas fa-search me-3 ms-2"></i></li>

                                </ul>
                            </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

                
{% endblock %}