{% extends 'base.html' %}

{% block content %}
<h5>{{ quiz.title}}</h5>
<p>Quiz id: {{ quiz.id }}</p>

    <div>Quiz status: {% if quiz.status == 0 %}Draft{% else %}Published{% endif %}
        <a href="/{{ quiz.slug }}/toggle/" class="btn">{% if quiz.status == 0 %}Approve{% else %}Revert to Draft{% endif %}</a>
      </div>
</p>
<p>Total questions: {{ quiz.questions.count }}</p>
<p>Question List</p>
<ol>
    
{% for question in quiz.questions.all %}
    <li>{{ question.body }}</li>
    <div class="col-md-5">
        <div class="d-flex justify-content-end">
        <a href="{% url 'questions:question_details' question.id %}" class="btn" ><i class="fas fa-info-circle"></i></a>
        <a href="{% url 'questions:edit_question' question.id %}" class="btn"><i class="far fa-edit"></i></a>
        <a href="{% url 'questions:delete_question' question.id %}" class="btn"><i class="fas fa-trash"></i></a>
    </div>
    </div>
{% endfor %}
</ol>
<a href="{% url 'quiz:edit_quiz' quiz.slug %}" class="btn">Edit quiz</a>

{% endblock %}