{% extends 'base.html' %}
{% load quiz_extras %}

{% block content %}

{% if user.is_authenticated %}
    {% if request.user|has_group:"Admin" %}
    <div class="row py-1" role="navigation">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'quiz:home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:manage_quizzes' %}">Manage quizzes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'questions:manage_questions' %}">Manage questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories:manage_categories' %}" tabindex="-1">Manage categories</a>
            </li>
        </ul>
    </div>

    <!-- Modal to display add forms in the dashboard view -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Form goes here -->
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Dashboard</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col"><a href="{% url 'quiz:manage_quizzes' %}">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h5 class="pt-3 mt-2 mb-4 lh-1 fw-bold border-bottom">Quizzes</h5>
                        <h6 class="card-title">Published: <small>{{ quiz_published_count }}</small></h6>
                        <h6 class="card-title">Drafts: <small>{{ quiz_draft_count }}</small></h6>
                        <ul class="d-flex list-unstyled mt-auto justify-content-end">
                            <li class="d-flex align-items-center me-3">
                                <a href="{% url 'quiz:add_quiz' %}"><i class="far fa-edit"></i>
                                    <small class="p-2">Add new</small></a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="{% url 'quiz:manage_quizzes' %}"><i class="fas fa-book-open"></i>
                                    <small class="p-2">Manage quizzes</small></a>
                            </li>
                        </ul>
                    </div>
                </div></a>
                
            </div>
            <div class="col"><a href="{% url 'questions:manage_questions' %}">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h5 class="pt-3 mt-2 mb-4 lh-1 fw-bold border-bottom">Questions</h5>
                        <h6 class="card-title">Published: <small>{{ question_published_count }}</small></h6>
                        <h6 class="card-title">Drafts: <small>{{ question_draft_count }}</small></h6>
                        <ul class="d-flex list-unstyled mt-auto justify-content-end">
                            <li class="d-flex align-items-center me-3">
                                <a href=""><i class="far fa-edit"></i>
                                    <small class="p-2">Add new</small></a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="{% url 'questions:manage_questions' %}"><i class="fas fa-book-open"></i>
                                    <small class="p-2">Manage questions</small></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div></a>
            <div class="col"><a href="{% url 'categories:manage_categories' %}">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h5 class="pt-3 mt-2 mb-4 lh-1 fw-bold border-bottom">Categories</h5>
                        <h6 class="card-title">Total: <small>{{ categories_count }}</small></h6>
                        <ul class="d-flex list-unstyled mt-auto justify-content-end">
                            <li class="d-flex align-items-center me-3">
                                <a data-form-url="{% url 'categories:add_category' %}" class="add-category" alt="Add category"><i class="far fa-edit"></i>
                                    <small class="p-2">Add new</small></a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="{% url 'categories:manage_categories' %}"><i class="fas fa-book-open"></i>
                                    <small class="p-2">Manage categories</small></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div></a>
        </div>
    </div>
    {% else %}
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Your quizzes</h2>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for quiz in quiz_list %}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h5 class="pt-3 mt-2 mb-4 lh-1 fw-bold border-bottom">{{ quiz.title }}</h5>
                        <h6 class="card-title">Category: <small>{{ quiz.category }}</small></h6>
                        <p>{{ quiz.description }}</p>
                        <ul class="d-flex list-unstyled mt-auto justify-content-end">
                            {% if quiz in completed_quizzes %}
                            <li class="d-flex align-items-center me-3">Completed<i class="fas fa-check-square ms-3"></i></li>
                            <li class="d-flex align-items-center me-3 btn">See results</li>
                            {% else %}
                            <li><a href="{% url 'quiz:take_quiz' quiz.slug %}" class="btn">Start Quiz</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% else %}
        <div class="row">
            <div id="welcome" class="centered">
                <h5>Welcome to Teaze!</h5>
                <br>
                <p>Welcome to our site. If you already have an account with us, sign in and enjoy.</p>
                <a href="{% url 'account_login' %}" class="btn">Log in</a>
                <p class="mt-5">If you have an account with us, you can
                    <a href="{% url 'account_signup' %}">sign up here</a>.
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}