{% extends "base.html"%}

{% block content %}

<!-- Display quizzes -->
<div class="container-fluid">
    {% if user.is_authenticated %}
    <div class="row">
        {% for quiz in quiz_list%}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card m-1" style="max-width: 100vw;">
                <!-- {% if "placeholder" in quiz.featured_image.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dcslh2m3b/image/upload/v1639349853/anne-marie_ridderhof_green_dnvdft.jpg"
                    alt="Default's description">
                {% else %}
                <img class="card-img-top" src="{{ quiz.featured_image.url }}" alt="Featured image description">
                {% endif %} -->
                <div class="card-body">
                    <h5 class="card-title">{{ quiz.title }}<h5>
                        <h6 class="card-title">Category: {{ quiz.category }}</h6>
                        <p class="card-text">{{ quiz.description }}</p>
                        <a href="#" class="btn">Start Quiz</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div id="welcome">
            <h3>Welcome to Teaze!</h3>
            <h5>Don't have an account just yet?</h5>
            <hr>
            <a href="" class=btn>Sign up here!</a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}