{% extends 'base.html' %}
{% load quiz_extras %}

{% block content %}

{% if user.is_authenticated %}
<!-- Admin user's view -->
    {% if request.user|has_group:"Admin" %}
    <!-- Modals -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Form goes here -->
            </div>
        </div>
    </div>
    <!-- Dashboard main container -->
    <div class="container px-0 px-md-4 mb-3" id="custom-cards">
        <h2 class="pb-2 border-bottom">Dashboard</h2>
        <!-- Quizzes -->
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-md-5">
            <div class="col"><a href="{% url 'quiz:manage_quizzes' %}" class="linked">
                    <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 p-md-5 pb-3 text-white text-shadow-1">
                            <h5 class="pt-3 mt-2 mb-4 lh-1 fw-bold border-bottom">Quizzes</h5>
                            <h6 class="card-title">Published: <small>{{ quiz_published_count }}</small></h6>
                            <h6 class="card-title">Drafts: <small>{{ quiz_draft_count }}</small></h6>
                            <!-- Ad new and manage buttons -->
                            <ul class="d-flex list-unstyled mt-auto justify-content-end">
                                <li class="d-flex align-items-center me-3">
                                    <a href="{% url 'quiz:add_quiz' %}" class="linked"><i class="fas fa-plus"></i>
                                        <small class="">New</small></a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <a href="{% url 'quiz:manage_quizzes' %}" class="linked"><i
                                            class="fas fa-book-open"></i>
                                        <small class="p-md-2">Manage</small></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Questions -->
            <div class="col">
                <a href="{% url 'questions:manage_questions' %}" class="linked">
                    <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 p-md-5 pb-3 text-white text-shadow-1">
                            <h5 class="pt-3 mt-2 mb-4 lh-1 fw-bold border-bottom">Questions</h5>
                            <h6 class="card-title">Published: <small>{{ question_published_count }}</small></h6>
                            <h6 class="card-title">Drafts: <small>{{ question_draft_count }}</small></h6>
                            <!-- Ad new and manage buttons -->
                            <ul class="d-flex list-unstyled mt-auto justify-content-end">
                                <li class="d-flex align-items-center me-3">
                                    <a href="{% url 'questions:add_new_question' %}" class="linked"><i
                                            class="far fa-edit"></i>
                                        <small class="p-md-2">New</small></a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <a href="{% url 'questions:manage_questions' %}" class="linked"><i
                                            class="fas fa-book-open"></i>
                                        <small class="p-md-2">Manage</small></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Categories -->
            <div class="col">
                <a href="{% url 'categories:manage_categories' %}" class="linked">
                    <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 p-md-5 pb-3 text-white text-shadow-1">
                            <h5 class="pt-3 mt-2 mb-4 lh-1 fw-bold border-bottom">Categories</h5>
                            <h6 class="card-title">Total: <small>{{ categories_count }}</small></h6>
                            <!-- Ad new and manage buttons -->
                            <ul class="d-flex list-unstyled mt-auto justify-content-end">
                                <li class="d-flex align-items-center me-3">
                                    <a data-form-url="{% url 'categories:add_category' %}" class="add-category linked"
                                        alt="Add category"><i class="far fa-edit"></i>
                                        <small class="p-md-2">New</small></a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <a href="{% url 'categories:manage_categories' %}" class="linked"><i
                                            class="fas fa-book-open"></i>
                                        <small class="p-md-2">Manage</small></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <!-- Standard user's dashboard view-->
    <div class="container px-0 px-md-4 mb-3" id="custom-cards">
        <h2 class="pb-2 border-bottom">Your quizzes</h2>

        <div
            class="row row-cols-1 {% if quiz_list.count < 3 %}row-cols-lg-{{quiz_list.count}}{% else %}row-cols-lg-3{% endif %} h-100 align-items-stretch g-4 g-4 py-md-5">
            {% for quiz in quiz_list %}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow">
                    <div class="d-flex flex-column h-100 p-4 p-md-5 pb-3 text-white text-shadow-1">
                        <h4 class="modal-header">{{ quiz.title }}</h4>
                        <div class="modal-body">
                            <h5>Category: <small>{{ quiz.category }}</small></h5>
                            <p class="text-smaller">{{ quiz.description }}</p>
                            <ul class="d-flex list-unstyled mt-auto justify-content-end">
                                <!-- Check if the user completed the quiz -->
                                {% if quiz in completed_quizzes %}
                                <!-- If yes display 'Completed' with a checkbox and a link to see results -->
                                <li class="d-flex align-items-center me-3">Completed<i class="fas fa-check-square ms-3"></i>
                                </li>
                                <li class="d-flex align-items-center me-3 btn"><a class="linked"
                                        href="{% url 'results:assessment_details' assessment.quiz.slug assessment.pk %}">
                                        Results</a></li>
                                <!-- if not completed, show button with link to take quiz -->
                                {% else %}
                                <li><a href="{% url 'results:take_quiz' quiz.slug %}" class="btn">Start Quiz</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}