{% load widget_tweaks %}
<!-- Form with category details -->
<form method="post">
  {% csrf_token %}
  <!-- Modal content injected into the modal div in the main manage categories view  -->
  <div class="modal-header">
    <h3 class="modal-title">Delete Category</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
  <!-- Check if category is used in a quiz or question; if yes, deletion is not possible (to handle ProtectedError) -->
  {% if protected %}
        <p>{{ protected_message|safe }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" data-bs-dismiss="modal" class="btn btn-danger" aria-label="Ok">OK</button>
  </div>
  <!-- If category not protected, ask to confirm deletion. -->
  {% else %}
  <div class="modal-body">
    <p>Are you sure you want to delete category 
      <strong>{{ category.name }}</strong>?</p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
  {% endif %}
</form>