{% extends 'base.html' %}

{% block content %}

<form method="POST">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <a href="{% url 'categories:manage_categories' %}">Back to Manage Categories</a>
            </div>
        </div>
        <div class="row">
            <h3 class="centered">Edit Category</h3>
            <div class="col-md-6 py-5 offset-3">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <a href="{% url 'questions:add_question' %}">Add Question</a> -->
                    {{ question_form.as_p }}
                    <input type="submit" class="btn" value="Save">
                    <a href="{% url 'categories:delete_category' category.id %}" class="btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}