{% extends 'base.html' %}
{% load quiz_extras %}

{% block content %}
{% if user.is_authenticated %}
    {% if request.user|has_group:"Admin" %}
    <div class="row py-1" role="navigation"></div>
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'quiz:home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'quiz:manage_quizzes' %}">Manage quizzes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'questions:manage_questions' %}">Manage questions</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'categories:manage_categories' %}" tabindex="-1">Manage categories</a>
            </li>
        </ul>
    </div>
    {% endif %}
{% endif %}
<form method="POST">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <a href="{% url 'categories:manage_categories' %}">Back to Manage Categories</a>
            </div>
        </div>
        <div class="row">
            <h3 class="centered">Edit Category</h3>
            <div class="col-md-6 py-5 offset-3">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn" value="Save">
                    <a href="{% url 'categories:delete_category' category.id %}" class="btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}